<div class="footerclass">

<div class="row">
<center>
            <a href="https://www.facebook.com/dimmaaah" title="@namedotcom Facebook" rel="nofollow" target="_blank" ga="event" ga-category="social_footer" ga-action="facebook-link" ga-label="/domain/search-4-3/"><div class="inlineblock"><div class="socialcirclebg"><i class="fa fa-facebook fa-2x colordarkgray"></i></div><span class="colordarkgray smallishfont">Facebook</span></div></a>

            <a href="https://www.linkedin.com/in/daemien-ho-83431628?trk=hp-identity-name" title="@namedotcom Facebook" rel="nofollow" target="_blank" ga="event" ga-category="social_footer" ga-action="facebook-link" ga-label="/domain/search-4-3/"><div class="inlineblock"><div class="socialcirclebg"><i class="fa fa-linkedin fa-2x colordarkgray"></i></div><span class="colordarkgray smallishfont">Linkedin</span></div></a>

          </center>
  </p>
</div>
<div class="footer" id="footer">
  <form action="#">
  <div class="form-group">
    <label>Your email</label>
    <input type="message" class="form-control">
  </div>
  <div class="form-group">
    <label>Your password</label>
    <input type="email" class="form-control">
  </div>
  <input type="submit" value="Send email" class="btn btn-primary">
</form>
</div>






</div>
