---
title: Le Wagon Middleman boilerplate
---
<!--
<div class="welcome text-center padded">
  <h1>Daemien Ho</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div> -->

<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://unsplash.it/1800/350');">
  <div class="banner-content">
  <img class="dimma" src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/1917570_1212354182126510_8671583891813376994_n.jpg?oh=815a259518f0f043b4d174aa35ba7b18&oe=57E3F087&__gda__=1472282971_c295c8013af0d9740f339f4e894b88a2" alt="">
    <h1>Daemien Ho</h1>
    <a href="Daemien.pdf" target="blank" id="trigger"> <p>Welcome to my online resume</p></a>
<div id="dialog" style="display:none">
    <div>
    <iframe src="Daemien.pdf"></iframe>
    </div>
</div>
<script language="javascript" type="text/javascript">
  $(document).ready(function() {
    $('#trigger').click(function(){
      $("#dialog").dialog();
    });
  });
</script>

  </div>
</div>

<div class="container">
  <h2>Dynamic Tabs</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">About me</a></li>
    <li><a data-toggle="tab" href="#menu1">Education</a></li>
    <li><a data-toggle="tab" href="#menu2">Projects</a></li>
    <li><a data-toggle="tab" href="#menu3">Skills</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>About me</h3>
      <p>My name is Daemien Ho. I'am a Junior Ruby developer 25 years old and I live in Amsterdam. Before My developer career. I played for vvv.Venlo and for kvc.Westerlo. Unfortunately I didn't become a football professional football player but it was a very great life experience for me and I'am happy I got to play football at the highest level with some great players. <br> Now my goal is to be a great ruby developer and to turn that Junior title into a Super veteran Ruby developer. That is why I'am looking for an internship where I can learn more from experienced ruby developers so that they can mold me into a great developer so that I can become a great asset for your company. <br>
      THINGS THAT I LIKE TO DO!
      the things that I like to do most are
      <ul>
        <li>Playing football</li>
        <li>Playing chess(big fan of chess)</li>
        <li>All kinds of sports like(pingpong,kickboksing, kitesurfing, swimming</li>
        <li>Coding which is part of my daily routine </li>
        <li>Couchchilling some people call it; Being lazy but I like to call it inspiration time because this is the place where I brainstrom</li>
        <li>Research on how electronic devices work</li>
        <li>Playing with my pet</li>
        <li>Practicing </li>
      </ul>
       </p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Education</h3>
      <p>
     Between 2008/2010 I was schooled in Retail business & management. And in 2016 I became a Le Wagon student. This is where my developer carreer started to take shape. In case you don't know Le wagon. please take a look at their website. It is the place to be for a beginner developer. In a just a few months you learn all the basics of ruby/javascript and html. and depending on you're own end project you'll specialize yourself in differrent aspects of those languages. Le Wagon has developed very good ruby developers who are ready to get picked by a good company. they have raised many developers who created a succesful programs/apps/websites/companies.. you name it. And I am one of those creative/motivated developers who will create and will develope many great projects.

      </p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Projects</h3>
      <p>My projects are still under development. within three weeks You'll get more information about my projects. be prepared to be amazed.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Skills</h3>
      <div class="col-xs-12 col-md-6">
  <div class="card1">
    <h2>SKILLSET FRONTEND</h2>
    <ul>
      <li>HTML5 & CSS</li>
      <li>JavaScript (scripting language)</li>
      <li>jQuery & React.js(javaScript libraries)</li>
      <li>Bootstrap(mobile-first framework)</li>
      <li>Advancedd CSS techniques(flexbox, grid animations)</li>
      <li>UX/UI best practices</li>
    </ul>
  </div>
</div>
<div class="col-xs-12 col-md-6">
  <div class="card2">
    <h2>SKILLSET BACK-END</h2>
    <ul>
      <li>Ruby(programming language)</li>
      <li>Ruby on Rails(web application framework)</li>
      <li>SQL (structured query language for rational</li>
      <li>database management systems)</li>
      <li>PostgreSQL</li>
      <li>APIs(application programming inter</li>
    </ul>
  </div>
</div>

    </div>
  </div>
</div>
<div class="container">

</div>
